/node_modules
/.pnpm-store
.env
.env.backup
.phpunit.result.cache
.idea
.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
composer.lock
yarn.lock
docker-compose.yml
!.devcontainer/docker-compose.yml
.DS_Store
backend/rust/target
