a:not([href]):hover {
  color: initial;
}

#page-container.page-header-fixed #page-header,
#page-container.page-header-glass #page-header {
  z-index: 998;
}

#sidebar {
  z-index: 999;
  width: 80%;
}

@media (min-width: 992px) {
  #sidebar {
    width: 250px;
  }
}

#cashier .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: #405a93;
  color: unset;
}

#cashier .ant-radio-button-wrapper:hover {
  color: unset;
}

#cashier .ant-radio-button-wrapper {
  margin-right: 10px;
  padding: 20px 40px;
  height: unset;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

@media (max-width: 991.98px) {
  .sidebar-toggle {
    display: block !important;
  }
}

@media (max-width: 768px) {
  #cashier .ant-radio-button-wrapper {
    width: 100%;
    margin-top: 10px;
  }

  #cashier .ant-radio-button-wrapper:first-child {
    margin-top: 0;
  }

  #cashier .ant-radio-group {
    width: 100%;
  }

  .ant-notification {
    top: 0 !important;
    width: 100%;
    right: 0;
    left: 0;
    max-width: unset;
  }

  .ant-notification-notice {
    border-radius: 0;
  }

  .v2board-searchbar {
    width: 50%;
  }
}

.anticon {
  vertical-align: 0.1em;
}

.ant-table-pagination.ant-pagination {
  float: right;
  margin: 16px !important;
}

.content-side.content-side-full {
  height: calc(100% - 70px);
}

.content-side.content-side-full::-webkit-scrollbar {
  display: none;
}

.v2board-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #e8eaf2;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.v2board-payment-icon {
  font-size: 27px;
  vertical-align: -0.1em;
}

.ant-tag:last-child {
  margin: 0;
}

.ant-tabs-bar {
  margin-bottom: 0;
}

.v2board-nav-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  z-index: 999;
  opacity: 0.5;
  display: none;
}

.v2board-plan-features {
  padding: 0;
  list-style: none;
  font-size: 16px;
  flex: 1 0 auto;
}

.v2board-plan-features > li {
  padding: 6px 0;
  color: #7c8088;
  text-align: left;
}

.v2board-plan-features > li > b {
  color: #2a2e36;
  font-weight: 500;
}

.v2board-plan-content {
  padding-top: 20px;
  padding-left: 20px;
}

.v2board-plan-features > li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  padding-right: 10px;
  color: #425b94;
  font-weight: 900;
}

.v2board-email-whitelist-enable {
  display: flex;
}

.v2board-email-whitelist-enable input {
  flex: 2 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.v2board-email-whitelist-enable select {
  flex: 1 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12'%3E%3Cpath d='M3.862 7.931L0 4.069h7.725z'/%3E%3C/svg%3E");
  padding-right: 1.5em;
}

.block.block-mode-loading::before {
  background: hsla(0, 0%, 100%, 0.7);
}

#plan .ant-drawer-content-wrapper,
#server .ant-drawer-content-wrapper,
#user .ant-drawer-content-wrapper {
  max-width: 500px;
}

#tutorial .ant-drawer-content-wrapper {
  max-width: 500px;
}

.ant-drawer-body {
  margin-bottom: 50px;
}

.v2board-drawer-action {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  left: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
  z-index: 1000;
}

.ant-dropdown-menu-item > .anticon:first-child {
  margin-right: 0;
}

#v2ray-protocol #ace-editor {
  max-width: 450px;
  position: absolute;
  font-size: 14px;
  top: 55px;
  bottom: 0;
  right: 0;
  left: 0;
  height: unset !important;
}

#page-container.main-content-boxed > #main-container .content,
#page-container.main-content-boxed > #page-footer .content,
#page-container.main-content-boxed > #page-header .content,
#page-container.main-content-boxed > #page-header .content-header {
  max-width: 1920px;
}

.child_node {
  background: #eee;
}

.v2board_node_mobile {
  padding: 15px;
}

.v2board_node_mobile:first-child {
  border-top: 1px solid #eee;
}

.v2board_node_mobile .ant-list-item-extra {
  margin: unset;
}

.v2board-config-children {
  border-left: 18px solid #eee;
  padding-left: 0 !important;
  background: #efefef;
}

.v2board-filter-drawer .ant-drawer-content-wrapper {
  width: 30% !important;
}

@media (max-width: 767.98px) {
  .v2board-config-children {
    border-left: 12px solid #eee;
    padding-left: 6px !important;
  }

  .v2board-table-action {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #e8e8e8;
  }

  .v2board-table {
    padding-top: 60px;
  }

  .alert {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .v2board-filter-drawer .ant-drawer-content-wrapper {
    width: 80% !important;
  }
}

.content-header {
  height: 3.25rem;
}

.v2board-copyright {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 15px;
  font-size: 10px;
  opacity: 0.2;
}

#page-container.page-header-fixed #main-container {
  padding-top: 3.25rem;
}

#v2board-table-dropdown {
  position: fixed;
  top: 0;
}

.v2board-auth-box {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

#main-container {
  background-color: #f0f3f8 !important;
}

a:not([href]):hover {
  color: unset;
}

.v2board-container-title {
  flex: 1 1;
}

.block-header {
  padding: 0.75rem 16px;
}

.v2board-stats-bar {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#orderChart.v2board-empty-order-chart {
  position: relative;
}

#orderChart .v2board-empty-order-chart-canvas {
  bottom: 26px;
  height: 1px;
  left: 3px;
  pointer-events: none;
  position: absolute;
  width: calc(100% - 6px);
}
