/vendor
/config/v2board.php
/public/hot
/public/storage
/public/env.example.js
/public/favicon.ico
/public/assets/admin/*
/public/theme/default/assets/*
/public/clients/*
/storage/*.key
/workerman.webman.php.pid
/workerman.log
