/* Restored Ant Design v3 select arrow icon reset. */
.ant-select-arrow > * {
  line-height: 1;
}

.ant-select-arrow svg {
  display: inline-block;
}

.ant-select-arrow::before {
  display: none;
  content: '';
}

.ant-select-arrow-icon {
  display: block;
}
