/* Restored Ant Design v3 input-search enter button layout. */
.ant-input-search .ant-input-group .ant-input:hover,
.ant-input-search .ant-input-group .ant-input:focus {
  z-index: 1;
}

.ant-input-search-enter-button .ant-input {
  border-right: 0;
}

.ant-input-search-enter-button input + .ant-input-group-addon {
  padding: 0;
  border: 0;
}
