/* Restored OneUI rounded block corner propagation. */
.block.block-rounded {
  border-radius: 0.25rem;
}

.block.block-rounded > .block-header,
.block.block-rounded > .nav-tabs {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.block.block-rounded > .block-header:last-child,
.block.block-rounded > .nav-tabs:last-child {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.block.block-rounded.block-mode-hidden > .block-header.block-header-default {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.block.block-rounded > .block-content:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.block.block-rounded > .block-content:last-child {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
