/* Restored user sidebar content-side pull helpers. */
.content-side > .pull-t,
.content-side > .pull-y {
  margin-top: -1.125rem;
}

.content-side > .pull-b,
.content-side > .pull-y {
  margin-bottom: -1px;
}

.content-side > .pull-r,
.content-side > .pull-x {
  margin-right: -1.125rem;
}

.content-side > .pull-r,
.content-side > .pull-x {
  margin-left: -1.125rem;
}

.content-side > .pull {
  margin: -1.125rem -1.125rem -1px;
}
