/* Restored Ant Design v3 click wave keyframes. */
@keyframes waveEffect {
  to {
    box-shadow: 0 0 0 #0665d0;
    box-shadow: 0 0 0 6px var(--antd-wave-shadow-color);
  }
}

@keyframes fadeEffect {
  to {
    opacity: 0;
  }
}
