/* Restored user dashboard shortcut list item styles. */
.v2board-shortcuts-button {
  display: block;
  width: 100%;
  padding: 0;
  color: inherit;
  text-align: left;
  background: transparent;
  border: 0;
}

.v2board-shortcuts-item {
  position: relative;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.v2board-shortcuts-item > .description {
  font-size: 12px;
  opacity: 0.5;
}

.v2board-shortcuts-item i {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 30px;
  opacity: 0.5;
}

.v2board-shortcuts-item:hover {
  background: #f6f6f6;
}
