@font-face {
  font-family: simple-line-icons;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    url('../assets/fonts/Simple-Line-Icons.0cb0b9c5.woff2') format('woff2'),
    url('../assets/fonts/Simple-Line-Icons.78f07e2c.woff') format('woff');
}
