/* Restored user main content pull helpers. */
.content > .pull-t,
.content > .pull-y {
  margin-top: -0.875rem;
}

.content > .pull-b,
.content > .pull-y {
  margin-bottom: -1px;
}

.content > .pull-r,
.content > .pull-x {
  margin-right: -0.875rem;
}

.content > .pull-r,
.content > .pull-x {
  margin-left: -0.875rem;
}

.content > .pull {
  margin: -0.875rem -0.875rem -1px;
}
