/* Restored Ant Design Mobile list line container layout. */
.am-list-line {
  position: relative;
  display: flex;
  flex: 1 1;
  align-self: stretch;
  padding-right: 15px;
  overflow: hidden;
  align-items: center;
}
