.si-speedometer::before { content: '\e007'; }
.si-book-open::before { content: '\e04c'; }
.si-bag::before { content: '\e04f'; }
.si-check::before { content: '\e080'; }
.si-close::before { content: '\e082'; }
.si-list::before { content: '\e067'; }
.si-users::before { content: '\e001'; }
.si-user::before { content: '\e005'; }
.si-support::before { content: '\e056'; }
.si-bar-chart::before { content: '\e077'; }
.si-feed::before { content: '\e03b'; }
.si-clock::before { content: '\e081'; }
.si-emoticon-smile::before { content: '\e021'; }
.si-globe::before { content: '\e037'; }
.si-login::before { content: '\e066'; }
